#! /bin/bash

{{if eq .chezmoi.osRelease.name "Arch Linux" -}}

yay -S --needed \
{{ range .packages.yay.core -}}
{{ . }} \
{{ end -}}
{{ if eq .chezmoi.hostname "laptop-*" -}}
{{ range .packages.yay.laptop -}}
{{ . }} \
{{ end -}}
{{ end -}}
{{ end -}}
